body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}